@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	min-width: 240px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

	/*font: normal 100%/1.5 sans-serif;*/
}





@media only screen and (min-width:100em) {
	
	html{
		
		font-size: 150%;
		
		}
	
	
}


body {
	margin: 0;
	/*padding: 0 10px;*/
	background-color: #f2f2e2;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1 {
font-size: 13px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
letter-spacing: 1px;
color: #666;
padding-top: 30px;
}	
	
	


h2 {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
}

p {
	margin: 0 0 1.5rem;
	padding: 0;
}

ul,
ol {
	margin: 1.5rem 0;
}

sup {
	line-height: 1px;
}

a,
a:link,
a:visited {
	border-bottom: 0.1rem solid rgba(60,87,211,0.5);

	color: #3c57d3;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	border-color: #1636c5;

	color: #1636c5;
}

.header-container {
	/*background-color: #933; header background */
	background-color: #37b08a;
	padding-left: 10%;
	padding-right: 10%;
	
	margin: 0 auto 0 auto;
}
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	

	right: 0;
	
	margin-top: 65px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	/*right: 0;*/
	width: 46px;

	background: transparent url("../img/icon-nav1.svg") no-repeat 0 0;
	border: 0;

	text-indent: 100%;
	white-space: nowrap;

}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #0F6;	background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
	background-color: #000;
	background-position: -46px -40px;
}

.nav {
	/*margin: 0 -10px; This was making the nav bigger than the container */
	overflow: hidden;
	padding: 0;

	background-color: #000;
}

.nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0.8rem 0;

	list-style-type: none;
	font-weight: 100; 
	text-transform: uppercase;
	font-size: 15px;
	
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5rem 10px;

	border: 0;

	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #222;

	color: #fff;
}

.nav-bottom {
	margin-top: 1.5rem;
}

.nav-top {
	max-height: 0;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14rem;
}

@media only screen and (min-width: 320px) {
	
	.nav li {
		float: left;
		width: 100%;
	}

}

.masthead {
	/*margin: 0 0 1.5rem;*/
	margin-bottom: -20px;
	
}

.masthead-top {
	overflow: hidden;
	position: relative;
}

.logo-wrapper {
	
	margin: 15px auto -15px auto;
	/*margin: 0;*/
	padding: 0;

	font-size: 1rem;
}

.logo,
.logo:link,
.logo:visited {
	
	
	float: left;
	
	margin: 0 10px 0 0;
	padding: 0;
	/*height: 70px;
	width: 80px;*/
	height: 110px;
	width: 110px;

	background: transparent url("../img/logo.svg") no-repeat left top;
	/*background-size: 80px auto;*/
	background-size: 110px auto;
	border: 0;

	font-size: 1.5rem;
	line-height: 1.3;
	text-indent: 100%;
	white-space: nowrap;
}


.main-content {
		
		/*background-color: #0C9;*/
		/*height: 450px;*/
		width: 100%;
		padding: 0;
		margin: 0;
    	
		
	
		}
		

/* Adding new content*/

.featurette-heading {

 /* font-weight: 700;*/
  line-height: 1;
  letter-spacing: 0.5px;
font-size: 25px;
  color: #062325;
  margin-bottom: -3px;
 
}


blockquote  {


	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	/* top and bottom - right and left */
	margin:1.5em 0em;
	padding:.5em 0em;
	quotes:"\201C""\201D";
	}
       
blockquote:before {
	font-weight: bold;
	color: #37b08a;
	/*color:#CCC;*/
	content:open-quote;
	font-size:6rem;
	line-height:.05em;
	margin-right:0.05em;
	vertical-align:-.45em;
		
	}
	
	blockquote p {
		
			font-size:0.9em;
		
		}
	
blockquote :first-child{display:inline;}
blockquote :last-child{margin-bottom:0;}



@media (min-width: 650px) {

blockquote:before {

	font-size:10rem;
	

	}
	
	blockquote p {
		
			font-size:12px;
		
		}

 
}

	
@media (min-width: 768px) {

	
	blockquote:before {

	font-size: 100px;
	

	}
	
	blockquote p {
		
			font-size:17px;
		
		}


 
}

@media (min-width: 992px) {

	

	
	blockquote p {
		
			font-size:18px;
		
		}


 
}

@media (min-width: 1210px) {

	

	
	blockquote p {
		
			font-size:20px;
		
		}


 
}

.row {
	padding: 5%;
width: 100%;
margin: 10px auto -10px auto;


}

.shift_right {


	}
	
	.shift_left {
	
		}
figure img{
	
	width: 100%;
	max-width: 400px;

	}
	

#btn-open{
	border: 0;
	background-color: transparent;
	
	
	}	
	
	
dialog {
	
	/*border: 2px solid #000;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);*/
	width: 80%;
	
	
	}
	

	
#video-placeholder {
	
	position: relative;
	padding-top: 56.25%;
	
	}
	
#video-placeholder iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	
	}
	
dialog::backdrop {
	
	background-color: rgba(255,255,0,0.7);

	}
	
dialog + .backdrop {
	
	/*background-color: rgba(255,255,0,0.5);*/

	}
	
/* usually you should style the class and not the id*/
#btn-close {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	text-align: center;
	line-height: 24px;
	border: 2px solid #fff;
	background-color: #37b08a;
	color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	padding: 0;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: -16px;
	right: -16px;
	}
	
#btn-close:focus { outline: none; }




.sec-content {
		padding: 5%;
	margin: 0 auto 0 auto;
	background-color: #37b08a;
	width: 100%;
	color: #fff;
	text-align: center;
	
	max-height: 350px;


		
	}
	
	
	
	.carousel {
		margin: 5% auto -5% auto;
		width: 90%;
	padding-bottom: 56.23%; /* Image aspect ratio: height / width * 100 */
	position: relative;
	}
	
.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	}
	
.carousel-items [data-state="current"] {
	z-index:100;
	}
	
.carousel-items [data-state="incoming"] {
	
	z-index : 101;
	}
	
.carousel-buttons {
	position: absolute;
	z-index: 1000;
	}	
	
	

footer {
	
	background-color: #37b08a;
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	height: 100px;
	
	}
	
footer p {
	
	margin: 20px auto 0 auto;
	}
	
	
	
@media only screen and (min-width: 920px)
{
	
	.sec-content p {
	
		margin: 0 auto 0 auto;
		text-align: center;
		max-width: 600px;
		
	
	} 

/*end new content*/
@media only screen and (min-width: 757px) {

/*	.lede {
		font-size: 1.125rem;
	}
*/


.row {
	
/*width: 80%;*/
min-height: 570px; /* gives height to the main banner */
padding-left: 5%;
padding-right: 5%;
padding-top: 0;
margin: 10px auto 10px auto;

	
}
.shift_left {
	
	float: left;
	width: 60%;

	}




.shift_right {
	

	float: left;
	width: 40%;

	}

figure img {
	max-width: 300px;
	
	}



}


/*
@media only screen and (min-width: 30em) {

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
		float: none;
		margin: 0 0.5rem;
		width: auto;
	}

	.nav-btn {
		display: none;
	}

	.nav-top {
		max-height: 5rem;
	}

}
*/
@media only screen and (min-width: 560px) {
	
	
.logo,
.logo:link,
.logo:visited {
	
	
	float: left;
	
	margin: 0 10px 0 0;
	padding: 0;
	/*height: 70px;
	width: 80px;*/
	height: 140px;
	width: 140px;

	background: transparent url("../img/logo.svg") no-repeat left top;
	/*background-size: 80px auto;*/
	background-size: 140px auto;
	border: 0;

	font-size: 1.5rem;
	line-height: 1.3;
	text-indent: 100%;
	white-space: nowrap;
}
	

		.nav-btn {
		display: none;
	}

	.nav-top {
		/*max-height: 5rem;*/
		max-height: 150px;
		float: right;
	}

	.masthead-top {
		float: left;
	}

	.nav {
		background-color: transparent;
		text-align: center;
	}

	.nav li {
		display: inline-block;
		float: none;
		/*margin: 0 0.5rem;*/
		margin-top: 77px;
		width: auto;
	}


}



@media only screen and (min-width: 100em) {
	
	/*
	.nav-top {
		float: none;
		max-height: 15em;
	}

	.masthead-top {
		float: none;
	}

	.masthead {
		width: 20%;
		float:left;
		
		}
		
	.main-content {
		
	
		
		
		float: right;
	
		width: 75%;
		}
		
		.nav-top li {
			display: block;
			}
	
*/}




