<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
 

		
       
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  
    
    <script src="js/modernizr-1.0.min.js"></script>

   
    
    
</head>

  <body>
  
 
  
      <div class="headercontent">
      <header id="header" class="clear">
  	<div class="logo">
		<a href="index.html" rel="home"><img src="img/logo.png" alt="Social Golfer"></a>
	</div>
        
    <!-- <hr class="featurette-divider">-->
   
  {% include nav.html %}
    </header>
    </div>

{{content}}


</div> 
  
   
    <footer>
			<div id="bottom">
				<div id="widget-trigger-holder"><a id="widget-trigger" href="#top" title="View More" class="poshytip"></a></div>
				<div id="content"><a href="#top">App Design By Sundus Asif</a> </div>
			</div>
			
		</footer>
    

	
  		
     <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>


	
    
    
    
    
  </body>
</html>
